
.navbar-scrolled {
    background-color: rgb(14, 14, 40, 0.7);
}
.card-section-1 {
    border-radius: 20px;
    background: url('../images/soccer-bg-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 472px;

}

.section-entrance {
    background: url('../images/entrance-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // background-color: #260F38;
    // border-radius: 24px;
    padding: 35px 25px;
    background-position-x: -60px;
    background-position-y: -10px;
}

.section-game_on {
    background: url('../images/game-on-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #260F38;
    border-radius: 24px;
    padding: 30px 25px;
}

.section-container-1 {
    background: url('../images/grid-background-lines.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-section-1-gradient {
    // background: url('../images/gradient-1.png');
    background: linear-gradient(97.83deg, rgb(83, 197, 207, 0.3) -53.91%, rgb(123, 152, 215, 0.3) 6.47%, rgba(79, 48, 106, 0.6) 73.8%, rgba(66, 16, 73, 0.6) 135.13%);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;

}

.footer-quick_actions {
    div {
        margin-bottom: 25px;

        b {
            padding-bottom: 10px;
        }
    }
}

.navbar-nav {
    .nav-link {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
        color: "#fff";
    }
}
// Override default variables before the import
$body-bg: #fff;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
// @import "variables";
// @import "theme-light";
// @import "reboot";

:root {
    font-size: 0.8125rem;
    // font-size: 65%;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

p {
    color: #7F8C9F;
}

#seyi {
    padding: 14px 14px;
}

#seyi2 {
    padding: 9px 14px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
    font-family: 'Montserrat' !important;
    color: #2A4153;
}

h4 {
    font-size: 1.5rem;
    font-weight: 800;
}

.text-muted {
    color: #868e96 !important;
}

h6 {
    font-size: 0.875rem;
}

.form-label {
    margin-bottom: 0.5rem;
}

label {
    font-weight: 500;
    margin-bottom: 0.5rem;
    display: inline-flex;
}

.form-control {
    padding: 0.5rem 0.9rem;
    // font-size: .8125rem;
    font-weight: 400;
    text-align: center;
}

.btn {
    padding: 0.5rem 0.9rem;
}

.card {
    --vz-card-spacer-y: 1rem;
    --vz-card-spacer-x: 1rem;
    --vz-card-title-spacer-y: 0.5rem;
    --vz-card-border-width: 0;
    --vz-card-border-color: rgba(0, 0, 0, 0.125);
    --vz-card-border-radius: 0.5rem;
    --vz-card-box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
    --vz-card-inner-border-radius: 0.375rem;
    --vz-card-cap-padding-y: 1rem;
    --vz-card-cap-padding-x: 1rem;
    --vz-card-cap-bg: #fff;
    --vz-card-bg: #fff;
    --vz-card-img-overlay-padding: 1rem;
    --vz-card-group-margin: 0.75rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    height: var(--vz-card-height);
    word-wrap: break-word;
    background-color: var(--vz-card-bg);
    background-clip: border-box;
    border: var(--vz-card-border-width) solid var(--vz-card-border-color);
    border-radius: var(--vz-card-border-radius);
}

.card-header {
    padding: var(--vz-card-cap-padding-y) var(--vz-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--vz-card-cap-color);
    background-color: var(--vz-card-cap-bg);
    border-bottom: var(--vz-card-border-width) solid var(--vz-card-border-color);
}

.card-header {
    border-bottom: 1px solid var(--vz-border-color);
}

.card-title {
    font-size: 16px;
    margin: 0 0 7px 0;
}

.card .card-block,
.card .card-body {
    padding: 20px 20px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}


.small-button .MuiButton-root {
    min-width: 40px;
}
.login {
    min-height: 100vh;
}
.rounded-left {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.rounded-right {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.bg-image {
    background-image: url('../images/heifer-login.png');
    background-size: cover;
    background-position: center;
}
.App {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-text:hover {
    color: #2A4153;
}
.sidebar {
    display: flex;
    flex-direction: column;
}
.sidebar-text {
    margin-left: 8px;
    /* Adjust the spacing as needed */
}
.sidebar-link {
    display: block;
    padding: 1rem;
}
.sidebar-link.active {
    color: #2A4153;
}
@media (max-width: 768px) {
    .sidebar {
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (max-width: 400px) {
    .sidebar {
        flex-direction: column;
        justify-content: space-between;
    }
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.invalid {
    border-color: red !important;
}
// .checked{
//     background-color: #106363;
// }
.card .card-footer {
    border-top: 1px solid #e2e5e8;
    padding: 12px 20px;
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 0px) calc(0.25rem - 0px);
}

.bg-primary {
    background-color: #2A4153 !important;
}

.text-white {
    color: #fff !important;
}

.bg-primary {
    background-color: #2A4153 !important;
}

.bg-success {
    background-color: #557f9f;
}

.badge .bg-success {
    background-color: #557f9f;
}

.bg-blue {
    background-color: #2A4153;
}

.bg-warning {
    color: #fff;
    background-color: #0DCAF0;
}

.align-items-center {
    align-items: center !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.text-right {
    text-align: right !important;
}

.f-28 {
    font-size: 28px;
}

.fa,
.fas {
    font-weight: 900;
}

.has-ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.btn-info {
    color: #fff;
    background-color: #00acc1;
    border-color: #00acc1;
}

.btn-danger {
    color: #fff;
    background-color: #ff5252;
    border-color: #ff5252;
}

.btn-sm,
.btn-group-sm>.btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 2px;
}

.btn-success {
    color: #fff;
    background-color: #557f9f;
    border-color: #557f9f;
}

.btn-primary {
    color: #fff;
    background-color: #2A4153;
    border-color: #2A4153;
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length select {
    width: auto;
    display: inline-flex;
}

.form-control {
    border: none;
    border-bottom: 1px solid #ced4da;
    background: no-repeat center bottom, center calc(100% - 1px);
    background-size: 0 100%, 100% 100%;
    transition: background 0s ease-out;
}

.custom-select-sm {
    height: calc(1.5em + 0.5rem + 2px);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    font-size: 0.875rem;
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child {
    padding-left: 0;
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child {
    padding-right: 0rem;
}

th {
    text-transform: uppercase;
}



.bg-soft-warning {
    background-color: rgba(247, 184, 75, .18) !important;
}

.custom-card .MuiPaper-root {
    box-shadow: none !important;
}

.crm-widget .col {
    border-right: 1px solid var(--vz-border-color);
}

.crm-widget .col:nth-child(4) {
    border-right: 0;
}

@media (max-width: 768px) {
    .crm-widget .col-md-12:nth-child(1) {
        border-right: 0;
        border-bottom: 1px solid var(--vz-border-color);
    }
}

.min-height-300 {
    min-height: 300px;
}

#react-select-3-listbox,
#react-select-3-listbox>div {
    z-index: 999999 !important;
    background-color: #fff !important;
    background: #fff !important;
}